@import "../../node_modules/codemirror/lib/codemirror.css";

html {
  padding-top: 30px;
}
html,
body {
  height: 100%;
}

.ReactCodeMirror {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  width: 100%;
  height: 100%;
}

.JsonEditorContainer {
  height: 200px;
  width: 500px;
  overflow: scroll;
}
.HtmlEditorContainer {
  height: 300px;
  width: 500px;
  overflow: scroll;
}
.PreviewerContainer {
  height: 550px;
  overflow: scroll;
}
